# .env

# Read-only Strapi API token (Settings -> API Tokens in the Strapi admin)
STRAPI_TOKEN=
# Base URL of the Strapi backend
STRAPI_URL=https://gd-strapi.onrender.com
# Production domain
DOMAIN=gdclubdubai.vercel.app
# Resend API key (for sending emails)
RESEND_API_KEY=
